body {
    margin: 0;
}

#game-container {
    display: flex;
    justify-content: space-between;
}

#sidebar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1vh 2rem;

    font-family: "Roboto Light", sans-serif;
    font-size: 2rem;
}

#sidebar p {
    text-align: center;
}

#canvas {
    padding-top: 1vh;
    padding-right: 1vh;
    padding-left: 1vh;
}

#buttons {
    display: flex;
    flex-direction: column;
}

#player-selection {
    display: flex;
}

#player-selection button {
    color: black;
    background-color: white;
    border-radius: 1rem;
    border-color: darkgrey;
    padding: 0.5rem 1rem;
    margin-bottom: 0.5rem;
}

#player-selection button:last-child {
    margin-left: 0.5rem;
}

#player-selection button:hover {
    background-color: whitesmoke;
}

#player-selection button:disabled {
    background-color: lightgray;
    color: black;
}

#new-game-button {
    background-color: rgba(135, 206, 250, 1);
    border-radius: 1rem;
    border-color: darkblue;
    padding: 1rem 3rem;
}

#new-game-button:hover {
    background-color: rgba(135, 206, 250, 0.5);
}

#new-game-button:disabled {
    background-color: lightgray;
    border-color: darkgrey;
}